In [1]:
import sys
from pathlib import Path

PROJECT_ROOT = Path().resolve().parents[0]
sys.path.append(str(PROJECT_ROOT))

In [9]:
from src.pipeline import run_pipeline
from src.db import get_engine

In [9]:
from src.transform import compute_indicators
import pandas as pd

engine = get_engine()
df = pd.read_sql(
    "SELECT date, close FROM daily_prices WHERE ticker='AAPL' ORDER BY date",
    engine
)

df2 = compute_indicators(df)
df2.tail()

,date,close,ma_5,ma_20,ma_50,daily_return,rsi
6534,2025-12-24,273.81,272.600,277.1520,270.954564,0.005324,33.540373
6535,2025-12-26,273.40,272.842,276.9445,271.440594,-0.001497,36.148301
6536,2025-12-29,273.76,272.860,276.6900,271.971586,0.001317,39.068290
6537,2025-12-30,273.08,273.282,276.1890,272.392272,-0.002484,39.130435
6538,2025-12-31,271.86,273.182,275.4725,272.589752,-0.004468,31.277056

In [7]:
from src.transform import compute_indicators
import pandas as pd
from src.db import upsert_prices

In [10]:
engine = get_engine()
df = pd.read_sql(
    "SELECT * FROM daily_prices ORDER BY ticker, date",
    engine
)

df = compute_indicators(df)

upsert_prices(df, engine)

2026-01-03 11:29:12,351 | INFO     | yfinance_pipeline | Inserting 17102 rows into daily_prices